@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-principal: #1b5c07;
    --cor-secundaria: #078569;
     --cor-destaque: #7c5403;
}

body {
    font-family: "Delius", cursive;
    color: var(--cor-principal);
    background-color: #E8D3A4  ;
  }
  
  h1{
    color: var(--cor-destaque);
    font-weight: 600;
  }
  h2,h4{
    color: var(--cor-secundaria);
    font-weight: 600;
  }
  
  
  a, .btn-link:hover {
    color: var(--cor-secundaria);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--cor-principal);
  }*/
  body{
   font-family: Arial, sans-serif;
      margin: 0;
     
      background-color:  #e8d3a4c0 ;
    }
    
    header {
      
      background-color:#078569;
      /*background-image: url(img/campo-cidade.jpg);*/
      background-size:cover;
      padding: 3rem;
      margin: 0.5rem;
     color: #ffffff;
     padding: 1rem;
      text-align: start;
    }
    h2{
      color:#d67b2c;
      font-family: "Delius", cursive;
    }
    nav {
      background-color:  #6d9666 ;
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 0.5rem;
      margin:0.5rem;
    }
    nav a {
      color:  #8b492a;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 2rem;
      max-width: 600px;
      margin: auto;
    }
    