@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-principal: #1b5c07;
    --cor-secundaria: #078569;
     --cor-destaque: #7c2500;
}

body {
    font-family: "Delius", cursive;
    color: var(--cor-principal);
    background-color: #E8D3A4  ;
  }
  .container {
      width: 100%;
        padding: 1rem;
        }
        .flex-container {
            display: flex;
              flex-wrap: wrap;
                justify-content: space-between;
                }
          
        
  h1{
    color: var(--cor-destaque);
    font-weight: 800;
    padding: 0;
    margin-top: 1.5rem;
  }
  /*h2{
    color: var(--cor-secundaria);
    font-weight: 600;
   text-align:start ;
  }*/
  
  
  a, .btn-link:hover{
    color: var(--cor-secundaria);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--cor-principal);
  }
 
    header {
      
      background-color:#078569;
      /*background-image: url(img/campo-cidade.jpg);*/
      background-size:cover;
      padding: 3rem;
     color: #ffffff;
     padding: 0rem;
      text-align: start;
    }
    h2{
      color:#d67b2c;
      font-family: "Delius", cursive;
      text-align:start ;
      font-weight: 500px;
    }
    nav {
      background-color:  #6d9666bd ;
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 0.5rem;
      
    }
    nav a {
      color:  #245801;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 2rem;
      max-width: 600px;
      margin: auto;
    }
    @media (max-width: 768px) {
        .menu {
            flex-direction: column;
              }

                .container {
                    padding: 0.5rem;
                      }
                      }
img, video {
    max-width: 100%;
      height: auto;
      }

  